button {
    padding: 10px;
    font-size: 15px;

    background: azure;
    border-radius: 10px;
}

.wrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
}

.displayTwo {
    display: flex;
}

.displayInner:first-child {
    padding-right: 10px;
}